import(randomForest, AUC)
importFrom("stats", "predict","IQR","median","quantile")
importFrom("graphics","axis","lines","plot","polygon")
export(interpretRNews)
export(parDepPlot)
export(variableImportance)

